@media(max-width:1016px) {
    .recomended-products {
        width: 10rem;
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 4;
        top: 0;
        background-color: #f1f1f1;
        right: 60%;

        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


        h3 {
            width: 80%;
            font-size: .9rem;
            font-family: 'Source Code Pro', monospace;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .recomended {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Source Code Pro', monospace;
            margin-top: .5rem;
            gap: 3px;
            margin-bottom: .5rem;

            img {
                align-self: center;
            }

            .name {
                text-align: center;
                width: 80%;
                font-size: .9rem;
                font-family: 'Candal', sans-serif;
            }

            .sale {
                width: 70%;
                height: 1.2rem;
                background-color: #60269E;
                color: white;
                font-size: .7rem;
                font-family: 'Candal', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                border-radius: 5px;
            }

            .rating {
                display: flex;
                align-items: center;
                gap: 3px;

                span {
                    font-size: .8rem;
                }

                img {
                    width: 12px;
                    height: 12px;
                }
            }

            .price {
                color: #60269E;
                font-family: 'Abril Fatface', serif;
            }

            a {
                color: gray;
                transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    color: black;
                }
            }

            button {
                margin-top: .5rem;
                background: none;
                border: none;
                color: gray;
                text-decoration: 1px solid underline;
                font-size: .9rem;
                cursor: pointer;
                transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    scale: 1.1
                }
            }
        }
    }
}

@media (min-width:1016px) {
    .recomended-products {
        width: 15rem;
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 4;
        top: 0;
        background-color: #f1f1f1;
        right: 30%;

        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


        h3 {
            width: 80%;
            font-size: .9rem;
            font-family: 'Source Code Pro', monospace;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .recomended {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Source Code Pro', monospace;
            margin-top: .5rem;
            gap: 3px;
            margin-bottom: .5rem;

            img {
                align-self: center;
            }

            .name {
                text-align: center;
                width: 80%;
                font-size: .9rem;
                font-family: 'Candal', sans-serif;
            }

            .sale {
                width: 60%;
                height: 1.2rem;
                background-color: #60269E;
                color: white;
                font-size: .8rem;
                font-family: 'Candal', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                border-radius: 5px;
            }

            .rating {
                display: flex;
                align-items: center;
                gap: 3px;

                span {
                    font-size: 1rem;
                }

                img {
                    width: 15px;
                    height: 15px;
                }
            }

            .price {
                color: #60269E;
                font-family: 'Abril Fatface', serif;
            }

            a {
                color: gray;
                transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    color: black;
                }
            }

            button {
                margin-top: .5rem;
                background: none;
                border: none;
                color: gray;
                text-decoration: 1px solid underline;
                font-size: .9rem;
                cursor: pointer;
                transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    scale: 1.1
                }
            }
        }
    }
}