@media (min-width:1016px) {
    .team-joining-container {
        width: 100%;
        height: 75rem;
        display: flex;
        flex-direction: column;
        background-color: black;

        .how-it-works {
            width: 70%;
            margin: 1rem auto;
            height: 40%;
            display: flex;
            flex-direction: row;
            color: white;

            img {
                margin-top: -1.5rem;
            }

            div {
                display: flex;
                flex-direction: column;
                width: 70%;
                align-items: center;
                justify-content: center;

                h1 {
                    font-family: 'Dhurjati', sans-serif;
                    font-size: 4rem;
                }

                p {
                    width: 80%;
                    text-align: center;
                    font-family: 'Grandstander', cursive;
                    margin-top: -2rem;
                }
            }
        }

        .levels {
            width: 100%;
            height: 60%;

            .levels-list {
                width: 100%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.1rem;
            }
        }
    }
}

@media (max-width:1016px) {
    .team-joining-container {
        width: 100%;

        display: flex;
        flex-direction: column;
        background-color: black;


        .how-it-works {
            display: none;
        }

        .levels {
            width: 100%;
            height: 60%;
            display: none;

            .levels-list {
                width: 100%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.1rem;
            }
        }
    }
}