@media (max-width:1016px) {
    .bestsellers-container {
        height: 60rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;



        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.8rem;
            gap: 5px;

            h1 {
                font-size: 1.4rem;
                font-family: 'Abril Fatface', serif;
                width: 80%;

            }

            span {
                font-size: .9rem;
                font-family: 'Source Code Pro', monospace;
                margin-top: -1rem;
                width: 70%;

            }

        }

        .slider-container {
            width: 90%;
            gap: 20px;
            height: 80%;

            &:hover {

                .swiper-button-prev,
                .swiper-button-next {
                    opacity: 1;
                }
            }

            .swiper-pagination-bullet-active {
                background-color: #60269E;

            }

            .swiper-button-prev,
            .swiper-button-next {
                color: #60269E;
                font-size: 5px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                width: 3rem;
                height: 3rem;
                opacity: 0;
                display: none;

                &:hover {
                    scale: 1.2
                }
            }

            .swiper-button-prev {
                content: url('../../public/icons/prev.png');
            }

            .swiper-button-next {
                content: url('../../public/icons/next.png');
            }

            .slide {
                align-self: center;
                width: 90%;
                height: 100%;
            }
        }
    }
}

@media (min-width:1016px) {
    .bestsellers-container {
        height: 47rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;



        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 1.8rem;

            h1 {
                font-size: 3rem;
                font-family: 'Abril Fatface', serif;
                width: 50%;
            }

            span {
                font-size: 1.2rem;
                font-family: 'Source Code Pro', monospace;
                margin-top: -2rem;
            }

            h1,
            span {
                margin-left: 6rem;
            }
        }

        .slider-container {
            width: 90%;
            gap: 10px;
            height: 80%;

            &:hover {

                .swiper-button-prev,
                .swiper-button-next {
                    opacity: 1;
                }
            }

            .swiper-pagination-bullet-active {
                background-color: #60269E;

            }

            .swiper-button-prev,
            .swiper-button-next {
                color: #60269E;
                font-size: 5px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                width: 3rem;
                height: 3rem;
                opacity: 0;

                &:hover {
                    scale: 1.2
                }
            }

            .swiper-button-prev {
                content: url('../../public/icons/prev.png');
            }

            .swiper-button-next {
                content: url('../../public/icons/next.png');
            }

            .slide {
                width: 45%;
                height: 100%;
            }
        }
    }
}