.expander-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .template-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            margin-left: 1rem;

        }

        img {
            margin-right: 1rem;
        }
    }
}